.search {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 56px;
}

.search input {
  padding: 8px 16px;
  border: none;
  background: transparent;
  border-bottom: 3px solid #333333;
  outline: none;
  font-size: 24px;
}
